body {
    margin: 0;
    
    font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
  }
  h1,p{
      margin: 0px;
  }
  ul{
      list-style: none;
      margin: 0px;
      padding: 0px;
  }
  a {
    text-decoration: none;
  }
  * {
    box-sizing: border-box;
   
  }
  
.mask-enter-active, .mask-leave-active {
  transition: opacity .5s;
}
.mask-enter, .mask-leave-to {
  opacity: 0;
}
.action-enter-active, .action-leave-active {
  transform: translate(0px,0px); 
        transition: transform .25s;
}
.action-enter, .action-leave-to {
 transform: translate(0px,620px); 
}